/* ======================== Global ======================== */

:root {
  --bg-color: #dbe1eb;
  --header: #2d4a22;
  --table-head: #6a76a5;
  --table-income: #12a454;
  --cards: white;
  --toggle: #fff;
  --toggle-bg: rgb(65, 55, 55);
  --letters: #363f5f;
  --green: #49aa26;
  --light-green: #3dd705;
  --red: #e92929;
}
.dark-mode:root {
  --bg-color: #242121;
  --header: #19151b;
  --table-head: #d6cfcf;
  --table-income: #12a454;
  --cards: rgb(29, 25, 34);
  --toggle: rgb(58, 50, 50);
  --toggle-bg: rgb(255, 255, 255);
  --letters: #d8d1d1;
  --green: #49aa26;
  --light-green: #3dd705;
  --red: #e92929;
  transition: 0.3s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%; /* 15px*/
}

body {
  background: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

html,
body {
  transition: all 500ms ease 0s;
}

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.c-container {
  position: relative;
  width: min(90vw, 800px);
  margin: auto;
}

/* ======================== Links & Buttons ======================== */
a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  color: var(--light-green);
}

.c-modal button {
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  background: var(--green);
  padding: 0;

  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background: var(--light-green);
}

.button.new {
  background: var(--green);
  display: inline-block;
  /* margin-bottom: 0.8rem; */
  padding: 8px;
  border-radius: 0.25rem;
  color: white;
}

.button.cancel {
  color: var(--red);
  border: 2px var(--red) solid;

  border-radius: 0.25rem;

  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0.6;
}

.button.cancel:hover {
  opacity: 1;
}

.c-graphic-button {
  position: absolute;
  width: 50px;
  right: 0px;
  top: -50px;
  padding: 5px;
  transition: all 500ms ease 0s;
  border-color: rgba(255, 255, 255, 0);
}

.c-graphic-button:hover {
  border: 1px solid rgba(255, 255, 255, 0);
  cursor: pointer;
}

/* ======================== Header & Dark-Mode ======================== */
header {
  background: var(--header);
  padding: 2rem 0 13rem;
  text-align: center;
  margin-bottom: 0rem;
  transition: all 500ms ease 0s;
}

.c-navbar {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1540px;
}

.c-help-img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 50%;
}

.c-toggle {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  max-width: 40px;
}

.c-lightMode.on,
.c-darkMode.on {
  width: 100%;
  right: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: 0;
}
.c-lightMode {
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  right: 0px;
  width: 40px;
  height: 40px;
  opacity: 1;
}

.c-darkMode {
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  right: 0;
  width: 35px;
  height: 35px;
  opacity: 1;
}

/* ======================== Balance ======================== */

.c-container__balance {
  margin-top: -8rem;
}

.c-container__balance h2 {
  color: white;
  margin-top: 0;
}

/* ======================== cards ======================== */

.c-container__card {
  position: relative;
  background: var(--cards);
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  color: var(--letters);
  transition: all 500ms ease 0s;
}

.c-container__card.is-active {
  position: relative;
  background: var(--cards);
  padding: 6rem 2rem 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  color: var(--letters);
  transition: all 500ms ease 0s;
}

.c-container__card h3 {
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-container__card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.c-container__card.total {
  background: var(--green);
  color: white;
  border-top-right-radius: 0rem;
}

.c-container__card.total .c-container-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: -30px;
  background: rgb(56, 155, 43);
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.c-container__card.total .arrow {
  width: 15px;
  cursor: pointer;
}

.c-past-total {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--letters);
  width: 100%;
  height: 35%;
  border-radius: 0.25rem;
  border-bottom: 2px solid rgba(128, 128, 128, 0.548);
}

.c-past-total.u-total {
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.582);
}

.c-past-total .c-past-month-text {
  font-size: 13px;
  position: absolute;
  top: -10px;
  left: 5px;
}
.c-past-total h3 {
  padding: 0 10px;
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.c-past-total img {
  width: 20px;
}

.c-past-total p {
  font-size: 1rem;
  line-height: 3rem;
  margin-top: 0;
}

/* ======================== Table ======================== */

.c-transaction {
  position: relative;
  display: block;
  width: 100%;
}

.u-overflow {
  overflow-x: auto;
}

.c-table-title {
  text-align: center;
  color: rgb(107, 100, 100);
}
.c-table-title-2 {
  text-align: center;
  color: rgb(107, 100, 100);
  padding-top: 20px;
}

.c-transaction__data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--table-head);
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

table th {
  font-weight: normal;
  background: var(--cards);
  text-align: left;
  padding: 1rem 2rem;
}

.c-table-sortable th {
  cursor: pointer;
}

.c-table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.c-table-sortable .th-sort-desc::after {
  content: "\25be";
}

.c-table-sortable .th-sort-asc::after,
.c-table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.c-table-sortable .th-sort-asc,
.c-table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}

table tbody tr {
  opacity: 0.7;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

table tbody tr:hover {
  opacity: 1;
}

table td {
  background: var(--cards);

  padding: 1rem 2rem;
  font-weight: 600;
}

td.table__description {
  color: var(--letters);
}

td.table__income {
  color: var(--table-income);
}

td.table__expense {
  color: var(--red);
}

/* ======================== Input Tabela ======================== */
.c-inputs-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-container-input-months {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.styled-select {
  width: 80px;
  height: 20px;
  overflow: hidden;
  background: no-repeat right rgb(255, 255, 255);
  border: 1px solid #ccc;
  display: flex;
}

.c-months-img {
  cursor: pointer;
  padding-left: 5px;
  margin-top: -3px;

  width: 30px;
}

.styled-select .c-input-months {
  background: transparent;
  border: 0px solid #ddd;
  border-radius: 0;
  -webkit-appearance: none;
  margin: 0 auto;
}

.c-input-months:focus {
  box-shadow: 0 0 0 0;
  border: 0px solid #ddd;
  outline: 0;
}

/* .c-input-months {
  border: none;
  padding: 0px;

  overflow: hidden;
  background: #ddd; 
  border: 0px solid rgba(221, 221, 221, 0);
}

.c-input-months {
  background: transparent;
}

.c-input-months:focus {
  
}

.c-input-months:hover {
  background: #000;
  border: none;
} */

/* ======================== Modal ======================== */

.c-modal-overlay {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  z-index: 999;
}

.c-modal-overlay.is-active {
  opacity: 1;
  visibility: visible;
}

.c-modal {
  background: var(--cards);
  padding: 2.4rem;
  width: 90%;
  max-width: 500px;
  position: relative;
  z-index: 1;
}

small {
  color: var(--letters);
  font-weight: bold;
  opacity: 0.4;
}

/* ======================== Wallet ======================== */

.c-wallet-selected {
  position: absolute;
  top: -35px;
  font-size: 20px;
}

.c-wallet-selected span {
  color: #fff;
  margin-right: 5px;
  font-weight: 200;
}

.c-wallet-selected .c-button__wallet {
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  font-size: 16px;

  padding: 0 10px;

  border: 1px solid #fff;
  border-radius: 0.2rem;

  transition: 0.2s;
}

.c-wallet-selected .c-button__wallet:hover {
  color: var(--light-green);
  border: 1px solid var(--light-green);

  transition: 0.2s;
}

.c-modal-wallets {
  width: 100%;
}

.c-modal-wallets hr {
  margin-top: 20px;
  border: 2px solid var(--font-color-base);
  opacity: 0.4;
}

.c-modal.c-modal-wallets {
  width: min(90vw, 800px);
}

.c-form-wallets {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-form-wallets h2 {
  color: var(--letters);
}

.c-form-wallets input {
  border: none;
  border-radius: 0.2rem;

  padding: 0.8rem;

  width: 65%;
  height: 50px;
}

.c-form-wallets button {
  width: 30%;
}
.c-wallets {
  display: flex;
  width: 100%;

  overflow-x: auto;
}

.c-wallets-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969cb3;

  white-space: nowrap;
}

.c-wallets-table .c-remove-wallet {
  width: 50px;
}

/* ======================== Form ======================== */

.c-form {
  max-width: 500px;
}

.c-form h2 {
  margin-top: 0rem;
  margin-bottom: 0.8rem;
  color: var(--letters);

  font-weight: normal;
}

.c-form form input {
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 100%;
}

.c-form input {
  background-color: var(--bg-color);
  color: var(--letters);
}
.c-form input::placeholder {
  color: var(--letters);
}

.c-form input:focus {
  border: 1px solid rgba(0, 0, 0, 0.116);
  outline: 0;
}
.c-form input:valid {
  background-color: rgba(145, 255, 102, 0.13);
}

.c-input-group {
  margin-top: 0.8rem;
}

.c-checkbox-number {
  display: flex;
}

.c-form form .c-container-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 5px;
}
.c-form form .c-container-checkbox .c-checkbox {
  min-height: 12px;
  min-width: 12px;
  margin: 5px;
}

.c-input-group .help {
  color: var(--letters);
  opacity: 0.4;
}

.c-input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-input-group.actions .button,
.c-input-group.actions button {
  width: 48%;
}

/* ======================== Footer ======================== */

footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--lettersletters);
  opacity: 0.6;
  color: var(--letters);
}

/* ======================== Help - Icons ======================== */

body.u-help-active {
  overflow: hidden;
}

.c-help-overlay {
  width: 100%;
  height: 100%;

  /* background-color: rgba(0, 0, 0, 0.774); */

  position: fixed;
  top: 0;

  opacity: 0;
  visibility: hidden;

  z-index: 999;
}

.c-help-overlay.is-active {
  opacity: 1;
  visibility: visible;
}

.c-darkmodeIcon-help {
  cursor: pointer;
  position: absolute;
  top: -18px;
  right: 45px;
  width: 20px;
  height: 20px;
  display: none;
}

.c-wallet-help {
  position: absolute;
  cursor: pointer;
  top: 5px;
  left: 190px;
  width: 20px;
  height: 20px;
  display: none;
}

.c-graphic-help {
  position: absolute;
  cursor: pointer;
  right: 50px;
  top: -45px;
  width: 20px;
  height: 20px;
  display: none;
}

.c-lastMonth-help {
  position: absolute;
  cursor: pointer;
  right: 5px;
  top: 32px;
  width: 20px;
  height: 20px;
  display: none;
}

.c-transactions-help {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 150px;
  width: 20px;
  height: 20px;
  display: none;
}

.c-months-help {
  position: absolute;
  cursor: pointer;
  right: 105px;
  top: 6px;
  width: 20px;
  height: 20px;
  display: none;
}

.c-darkmodeIcon-help.u-visible,
.c-wallet-help.u-visible,
.c-graphic-help.u-visible,
.c-lastMonth-help.u-visible,
.c-transactions-help.u-visible,
.c-months-help.u-visible {
  display: block;
}

/* ======================== Help-Texts ======================== */

.c-container-help-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.c-closeText-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  cursor: pointer;
}
.c-cards-text {
  position: relative;
  display: none;
  visibility: hidden;
}
.c-cards-text p {
  font-size: 1em;
}

.c-cards-text h2 {
  padding: 10px;
  font-size: 2em;
}

.c-cards-text .c-img-text {
  margin-top: 20px;
  max-width: 700px;
  width: 100%;
}
.c-darkmode-text.on,
.c-wallet-text.on,
.c-graphic-text.on,
.c-lastMonth-text.on,
.c-transactions-text.on,
.c-months-text.on {
  display: block;
  visibility: visible;
  max-width: 750px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  background: rgb(197, 196, 196);
  text-align: center;
  padding: 10px;
  border-radius: 0.25rem;
  margin: 10px;
}

/* ======================== Responsive ======================== */

@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }
  .c-help-overlay {
    width: 100%;
    height: 100%;

    /* background-color: rgba(0, 0, 0, 0.342); */

    position: fixed;
    top: 0;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
  }

  .c-container__balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .c-container__card.total .c-container-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    right: -30px;
    top: 0px;
    background: rgb(56, 155, 43);
    border-top-left-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  .c-cards-text p {
    font-size: 1.5em;
  }

  .c-darkmode-text.on,
  .c-wallet-text.on,
  .c-graphic-text.on,
  .c-lastMonth-text.on,
  .c-transactions-text.on,
  .c-months-text.on {
    display: block;
    visibility: visible;
    max-width: 750px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    background: rgb(197, 196, 196);
    text-align: center;
    padding: 10px;
    border-radius: 0.25rem;
    margin: 10px;
  }
}
