/* ======================== Global ======================== */

:root {
  --bg-color: #dbe1eb;
  --header: #2d4a22;
  --table-head: #6a76a5;
  --table-income: #12a454;
  --cards: white;
  --toggle: #fff;
  --toggle-bg: rgb(65, 55, 55);
  --letters: #363f5f;
  --green: #49aa26;
  --light-green: #3dd705;
  --red: #e92929;
}
.dark-mode:root {
  --bg-color: #242121;
  --header: #19151b;
  --table-head: #d6cfcf;
  --table-income: #12a454;
  --cards: rgb(29, 25, 34);
  --toggle: rgb(58, 50, 50);
  --toggle-bg: rgb(255, 255, 255);
  --letters: #d8d1d1;
  --green: #49aa26;
  --light-green: #3dd705;
  --red: #e92929;
  transition: 0.3s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%; /* 15px*/
}

body {
  background: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

html,
body {
  transition: all 500ms ease 0s !important;
}

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.c-container {
  position: relative;
  width: min(90vw, 800px);
  margin: auto;
}

/* ======================== Links & Buttons ======================== */
a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  color: var(--light-green);
}

.c-modal button {
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  background: var(--green);
  padding: 0;

  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background: var(--light-green);
}

.button.new {
  display: inline-block;
  margin-bottom: 0.8rem;
}

.button.cancel {
  color: var(--red);
  border: 2px var(--red) solid;

  border-radius: 0.25rem;

  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0.6;
}

.button.cancel:hover {
  opacity: 1;
}

.c-graphic-button {
  position: absolute;
  width: 50px;
  right: 0px;
  top: -50px;
  padding: 5px;
  transition: all 500ms ease 0s;
}

.c-graphic-button:hover {
  border: 1px solid var(--light-green);
  cursor: pointer;
}

/* ======================== Title ======================== */
.c-form h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--letters);

  font-weight: normal;
}

/* ======================== Header & Dark-Mode ======================== */
header {
  background: var(--header);
  padding: 2rem 0 13rem;
  text-align: center;
  margin-bottom: 0rem;
  transition: all 500ms ease 0s;
}

.c-navbar {
  display: flex;
}
.c-logo {
  margin: auto;
}

.c-toggle {
  margin-right: 1rem;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: var(--toggle);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background-color: var(--toggle-bg);
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

/* ======================== Balance ======================== */

.c-container__balance {
  margin-top: -8rem;
}

.c-container__balance h2 {
  color: white;
  margin-top: 0;
}

/* ======================== cards ======================== */

.c-container__card {
  position: relative;
  background: var(--cards);
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  color: var(--letters);
  transition: all 500ms ease 0s;
}

.c-container__card.is-active {
  position: relative;
  background: var(--cards);
  padding: 6rem 2rem 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  color: var(--letters);
  transition: all 500ms ease 0s;
}

.c-container__card h3 {
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-container__card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.c-container__card.total {
  background: var(--green);
  color: white;
}
.c-container__card.total .up-arrow {
  position: absolute;
  width: 15px;
  right: 5px;
  top: 5px;
  fill: white;
}

.c-container__card.total .down-arrow {
  position: absolute;
  width: 15px;
  right: 5px;
  top: 73px;
  fill: white;
}

.c-past-total {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--letters);
  width: 100%;
  height: 35%;
  border-radius: 0.25rem;
  border-bottom: 2px solid rgba(128, 128, 128, 0.548);
}

.c-past-total.u-total {
  color: white;
}

.c-past-total .c-past-month-text {
  font-size: 13px;
  position: absolute;
  top: -10px;
  left: 5px;
}
.c-past-total h3 {
  padding: 0 10px;
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.c-past-total img {
  width: 20px;
}

.c-past-total p {
  font-size: 1rem;
  line-height: 3rem;
  margin-top: 0;
}

/* ======================== Table ======================== */

.c-transaction {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.c-transaction__data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--table-head);
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

table th {
  font-weight: normal;
  background: var(--cards);
  text-align: left;
  padding: 1rem 2rem;
}

.c-table-sortable th {
  cursor: pointer;
}

.c-table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.c-table-sortable .th-sort-desc::after {
  content: "\25be";
}

.c-table-sortable .th-sort-asc::after,
.c-table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.c-table-sortable .th-sort-asc,
.c-table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}

table tbody tr {
  opacity: 0.7;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

table tbody tr:hover {
  opacity: 1;
}

table td {
  background: var(--cards);

  padding: 1rem 2rem;
  font-weight: 600;
}

td.table__description {
  color: var(--letters);
}

td.table__income {
  color: var(--table-income);
}

td.table__expense {
  color: var(--red);
}

/* ======================== Input Tabela ======================== */
.c-inputs-table {
  display: flex;
  justify-content: space-between;
}

/* ======================== Modal ======================== */

.c-modal-overlay {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  z-index: 999;
}

.c-modal-overlay.is-active {
  opacity: 1;
  visibility: visible;
}

.c-modal {
  background: var(--cards);
  padding: 2.4rem;
  width: 90%;
  max-width: 500px;
  position: relative;
  z-index: 1;
}

small {
  color: var(--letters);
  font-weight: bold;
  opacity: 0.4;
}

/* ======================== Wallet ======================== */

.c-wallet-selected {
  position: absolute;
  top: -35px;
  font-size: 20px;
}

.c-wallet-selected span {
  color: #fff;
  margin-right: 5px;
  font-weight: 200;
}

.c-wallet-selected .c-button__wallet {
  font-weight: 700;
  color: #fff;

  font-size: 16px;

  padding: 0 10px;

  border: 1px solid #fff;
  border-radius: 0.2rem;

  transition: 0.2s;
}

.c-wallet-selected .c-button__wallet:hover {
  color: var(--light-green);
  border: 1px solid var(--light-green);

  transition: 0.2s;
}

.c-modal-wallets {
  width: 100%;
}

.c-modal-wallets hr {
  margin-top: 20px;
  border: 2px solid var(--font-color-base);
  opacity: 0.4;
}

.c-modal.c-modal-wallets {
  width: min(90vw, 800px);
}

.c-form-wallets {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-form-wallets input {
  border: none;
  border-radius: 0.2rem;

  padding: 0.8rem;

  width: 65%;
  height: 50px;
}

.c-form-wallets button {
  width: 30%;
}
.c-wallets {
  display: flex;
  width: 100%;

  overflow-x: auto;
}

.c-wallets-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969cb3;

  white-space: nowrap;
}

.c-wallets-table .c-remove-wallet {
  width: 50px;
}

/* ======================== Form ======================== */

.c-form {
  max-width: 500px;
}

.c-form h2 {
  margin-top: 0;
}

.c-form form input {
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 100%;
}

.c-form input {
  background-color: var(--bg-color);
  color: var(--letters);
}
.c-form input::placeholder {
  color: var(--letters);
}

.c-form input:focus {
  border: 1px solid rgba(0, 0, 0, 0.116);
  outline: 0;
}
.c-form input:valid {
  background-color: rgba(145, 255, 102, 0.13);
}

.c-input-group {
  margin-top: 0.8rem;
}

.c-checkbox-number {
  /* background: #000; */
  display: flex;
}

.c-input-group .help {
  color: var(--letters);
  opacity: 0.4;
}

.c-input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-input-group.actions .button,
.c-input-group.actions button {
  width: 48%;
}

/* ======================== Footer ======================== */

footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--lettersletters);
  opacity: 0.6;
  color: var(--letters);
}

/* ======================== Responsive ======================== */

@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }

  .c-container__balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
